/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.parallax-overlay {
  position: relative;
  z-index: -2 !important;
}

.parallax-overlay::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #042330;
  opacity: 0.75;
  pointer-events: none; /* Ensure it doesn't block interactions */
  z-index: 1; /* Ensure it sits on top of the image */
}

.parallax-start-at-400 {
  min-height: 400px; /* Start the parallax effect from height 400px */
  
}

.parallax-start-at-1200 {
  min-height: 1200px; /* Start the parallax effect from height 400px */
  z-index: -2;
}
.text-with-bg {
  position: relative;
  display: inline; /* Ensures the background is just behind the text */
  padding: 2px; /* Add space between text and background */
  border-radius: 12px; /* Round the background */
}
.text-with-bg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.95); /* White background with 50% opacity */
  z-index: -1; /* Ensures the background is behind the text */
  width: 100%;
  height: 100%;
  border-radius: 12px; /* Round the background edges */
}

.no-padding {
  padding: 0 !important; /* Removes any padding */
}

.top-space {
  padding-top: 60px !important;
}

/* Override for checkboxes with the 'no-bg-change' class */
.switch label input[type=checkbox].no-bg-change:checked + .lever {
  background-color: rgba(0, 0, 0, 0.38)
}

/* Prevent background change for the lever's after pseudo-element */
.switch label input[type=checkbox].no-bg-change:checked + .lever:after {
  background-color: #F1F1F1;
  -webkit-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

input[type=checkbox].no-bg-change:checked:not(:disabled) ~ .lever:active::before,
input[type=checkbox].no-bg-change:checked:not(:disabled).tabbed:focus ~ .lever::before {
    background-color: rgba(0, 0, 0, 0.08); /* Reset to default */
}

.color1 {
  background-color: #075A7D !important;
}

.color1-text {
  color: #075A7D !important;
}

.change-to-color-1:focus {
  border-bottom: 1px solid #075A7D !important;
}

.btn-container {
  width: 50% !important;
  margin: 0 24.5% 0 24.5% !important;
}

.justify-text {
  text-align: justify;
}